a{
    text-decoration:none;
}
.search_input input, body, button, html {
    font: 13px/1.5 \5FAE\8F6F\96C5\9ED1,simsun,sans-serif;
}

/* 网页顶部栏目样式 start */
.container {
    width: 100%;
}

$height: 78px;

.header {
    width: 100%;
    height: $height;
    .topbar {
        position: relative;
        width: 1000px;
        height: $height;
        margin: 0 auto;
        // line-height: $height;
        font-size: 14px;

        .image {
            display: inline-block;
            img {
                vertical-align: -1px;
            }
        }

        .search-wraper {
            display: inline-block;
            width: 300px;
            height: 36px;
            margin-top: 20px;
            margin-left: 36px;
        }
    }
}
.search-input {
    position: relative;
    width: 298px;
    height: 34px;
    border: 1px solid #ccc;
    line-height: 34px;

    input {
        position: absolute;
        left: 14px;
        top: 0;
        width: 249px;
        height: 24px;
        line-height: 24px;
        border: 0;
        padding: 5px 0;
        color: #666;
        outline: none;
    }
}
.search {
    position: absolute;
    right: 0;
    height: 0;
    width: 34px;
    height: 34px;
    cursor: pointer;

    .search-icon {
        display: block;
        margin: 9px auto;
        width: 16px;
        height: 16px;
        background: url('../images/list/search.png') no-repeat;
        background-position: -40px -56px;

        &:hover {
            background-position: -40px -86px;
        }
    }
}

.topbar .topnav {
    display: inline-block;
    position: absolute;
    right: 0;
    width: 402px;
    line-height: $height;
}
.topnav {
    .nav-box {
        float: right;

        .top-list,span,.login {
            float: left;
        }
        span {
            margin-right: 28px;
            margin-left: 11px;
            color: #e6e6e6;
        }
    }
}

$color: #169af3;
.top-list {
    li {
        float: left;
        width: 82px;
        height: 19px;
        text-align: center;

        a {
            width: 52px;
            height: 17px;
            color: #777;
            font-size: 100%;

            &:hover {
                color: $color;
            }
        }
    }
}
.login a {
    display: inline-block;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.login {
    .login_btn {
        color: #fff;
        background-color: $color;
    }
    .sign_btn {
        color: #777;

        &:hover {
            color: $color;
            border: 1px solid $color;
        }
    }
}

/* 网页顶部栏目样式 end */

/* ------------------------------------------------------------------------------- */

/* 网页顶部导航栏样式 start */
.nav-wraper {
    width: 100%;
    height: 55px;
    background-color: #2c323b;
}
$n-color: #0c8ed9;
.nav {
    position: relative;
    margin: 0 auto;
    width: 1000px;
    line-height: 55px;
    background-color: #ddd;

    ul li {
        float: left;
    }

    .nav-left {
        li {
            padding: 0 30px;

            &:hover {
                background-color: $n-color;
                a {
                    color: #fff;
                }
            }
        }
        >li:first-child {
            background-color: $n-color;
        }
        .same {
            display: block;
            height: 100%;
            color: #ddd;
            font-size: 16px;
        }
        .more {
            width: 53px;

            .icon-arrow-up::before {
                content: "\e604";
            }
        }
        .active {
            color: #fff;
        }
    }
    .nav-right {
        display: inline-block;
        float: right;
        height: 35px;

        li {
            margin-left: 30px;
            height: 100%;

            a {
                padding-left: 20px;
                color: #bbb;
                font-size: 13px;
                background: url('../images/list/sprite.png') no-repeat;

                &:hover {
                    color: #14a9ff;                
                }
            }
            .icon {
                vertical-align: middle;
            }
            .icon-music {
                background-position: 0 -120px;

                &:hover {
                    background-position: 0 -102px;
                }
            }
            .icon-live {
                background-position: 0 -155px;

                &:hover {
                    background-position: 0 -137px;
                }
            }
            .icon-man {
                background-position: 0 -192px;

                &:hover {
                    background-position: 0 -174px;
                }
            }
            .icon-game {
                background-position: 0 -228px;

                &:hover {
                    background-position: 0 -210px;
                }
            }
            .icon-store {
                background-position: 0 -282px;

                &:hover {
                    background-position: 0 -246px;
                }
            }
        }
    }
    .more-list {
        position: absolute;
        top: 55px;
        left: 324px;
        z-index: 3;
        display: none;
        width: 113px;
        background-color: #252a32;

        li {
            clear: both;
            padding: 0;

            a {
                display: block;
                width: 113px;
                height: 37px;
                line-height: 37px;
                text-align: center;
                color: #ddd;

                &:hover {
                    color: #fff;
                    background-color: #2d343d;
                }
            }
        }
    }
}
/* 网页顶部导航栏样式 end */

/* ----------------------------------------------------------------------- */

/* 网页轮播图 start */
.slide {
    position: relative;
    top: -1px;
    overflow: hidden;
    width: 100%;
    height: 445px;
}
.carousel {
    overflow: hidden;
    width: 100%;
    height: 445px;

    .move {
        position: absolute;
        top: 50%;
        z-index: 3;
        display: none;
        margin-top: -60px;
        width: 60px;
        height: 120px;
        background: url('../images/list/sprite.png') no-repeat;
        cursor: pointer;

        i {
            color: #eef;
            font-size: 40px;
            opacity: .5;
        }
    }
    .carousel-left {
        left: 0;
        background-position: 0 -755px;

        &:hover {
            background-position: 0 -880px;
        }
    }
    .carousel-right {
        right: 0;
        background-position: 0 -1130px;

        &:hover {
            background-position: 0 -1005px;
        }
    }
}
.carousel-img {
    .active {
        display: block;
    }
}
.carousel-img li {
    display: none;
    width: 100%;
    height: 445px;
    cursor: pointer;

    a {
        position: relative;
        z-index: -1;
        display: block;
        text-align: center;
        line-height: 500px;
    }
}
.carousel-nav {
    position: absolute;
    bottom: 80px;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 25px;
    line-height: 25px;

    .carousel-index {
        margin: 0 auto;
        width: 265px;
        height: 25px;
        font-size: 0;
        text-align: center;
        li {
            float: left;


            a {
                display: inline-block;
                margin: 0 7px;
                width: 10px;
                height: 10px;
                color: #999;
                background-color: rgba(0, 0, 0, .4);
                border-radius: 50%;
                vertical-align: middle;
            }
            .active {
                width: 11px;
                height: 11px;
                border-radius: 50%;
                background-color: #fff;
            }
        }
    }
}
.download {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 0;
    text-align: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .3);

    .download-item {
        display: inline-block;
        font-size: 15px;
        color: #fff;
        text-align: center;

        &::after {
            content: "|";
            margin: 0 30px;
        }
        .iconfont {
            margin-right: 20px;
        }
    }
    .last::after {
        content: "|";
        opacity: 0;
    }
}
/* 网页轮播图 end */

/* ------------------------------------------------------------------- */

/* 网页主要内容样式 end */

/* 精选歌单样式 start */
.content {
    overflow: hidden;
    margin: 0 auto;
    width: 1000px;
    height: 2124px;
}
.content-first {
    width: 1000px;
    height: 390px;
    margin-top: 40px;
}
.leftbar {
    float: left;
}
.itemtitle {
    position: relative;
    margin-bottom: 20px;
    height: 30px;

    h3 {
        display: inline-block;
        color: #555;
        font-size: 30px;
        font-weight: 100;
    }
    .same-s {
        color: $n-color;
    }
    .same-m {
        position: absolute;
        right: 0;
        bottom: 0;
        color: #999;
        font-size: 13px;

        &:hover {
            color: $n-color;
        }
    }
}
.big {
    width: 650px;
}
.content-first {
    .first-left {
        width: 660px;
        height: 330px;

        div {
            position: relative;
            float: left;
            margin: 0 5px 2px 0;
            cursor: pointer;

            &:hover .cover{
                display: block;
            }

            .num {
                position: absolute;
                right: 0;
                top: 0;
                font-size: 14px;
                color: #fff;
            }
            .same-i {
                position: absolute;
                bottom: 2px;
                width: 100%;
                height: 50px;
                font-size: 14px;
                background-color: rgba(0, 0, 0, .5);
            }
            .lyric {
                overflow: hidden;
                padding: 2px 0 0 5px;
                width: 144px;
                color: #fff;
                white-space: nowrap;
                text-overflow: ellipsis;
                text-align: left;
            }
            .name {
                padding-left: 5px;
                width: 144px;
                color: #cfcfcf;
                text-align: left;
            }
            .cover {
                position: absolute;
                left: 0;
                top: 0;
                display: none;
                width: 100%;
                height: 98%;
                background-color: rgba(0, 0, 0, .3);
            }
        }
    }
}
.first-left>div .cover i {
    position: absolute;
    right: 5px;
    bottom: 4px;
    font-size: 36px;
    color: #ffe;
}
/* 精选歌单样式 end */

/* 热门榜单样式 start */
.rightbar {
    float: right;
}
.small {
    width: 320px;
}
.first-right {
    .same-b {
        position: relative;
        width: 320px;
        height: 100px;
        background-color: #f6f6f6;
        cursor: pointer; 

        .icon-combinedshapefuben {
            position: absolute;
            top: 46px;
            right: 3px;
            font-size: 12px;
        }
        .list {
            float: right;
            width: 200px;
            height: 72px;
            line-height: 25px;
            font-size: 13px;
            margin: 14px 0 0 13px;
        }
        .covers {
            position: absolute;
            left: 0;
            top: 0;
            display: none;
            width: 98px;
            height: 98px;
            text-align: center;
            line-height: 98px;
            background-color: rgba(0, 0, 0, .5);

            i {
                color: #fff;
                font-size: 32px;
            }
        }
        &:hover .covers{
            display: block;
        }
    }
    .top,.red {
        margin-top: 14px;
    }
}
.list dl {
    dt {
        font-weight: bold;
    }
    dd {
        overflow: hidden;
        width: 180px;
        height: 24px;
        color: #555;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
/* 热门榜单样式 end */

/*------------------------------------------------------------------------------------------------------------*/


/* 广告 start */
.advertisement {
    margin-top: 2px;
    margin-bottom: 40px;
}
/* 广告 end */

/*------------------------------------------------------------------------------------------------------------*/

/* 新歌首发样式 start */
.content-second {
    width: 1000px;
    height: 375px;
    margin-bottom: 40px;

    .leftbar {
        .big {
            margin-bottom: 10px;
            padding-bottom: 20px;
            border-bottom: 1px solid #f0f0f0;

            button {
                float: right;
                margin-top: 5px;
                width: 91px;
                height: 31px;
                color: #555;
                font-size: 14px;
                border: 1px solid #dbdbdb;
                border-radius: 2px;
                background-color: #fff;

                &:hover {
                    color: $n-color;
                    border: 1px solid #009af3;
                }
            }
        }
    }
}
.count {
    display: inline-block;
    margin-left: 35px;
    line-height: 30px;
    .show {
        color: #009af3;
    }
    span {
        margin-right: 20px;
        font-size: 14px;
        cursor: pointer;
    }
}
 .songList ul {
    display: none;
    margin-top: 0;
    
    li {
        width: 650px;
        height: 35px;
        line-height: 35px;

        a {
            display: block;
            overflow: hidden;
            position: relative;
            padding: 0 9px;
            color: #333;

            .songName {
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .songTips {
                display: inline-block;
                vertical-align: -2px;
                margin-left: 10px;
                padding-left: 21px;
                height: 12px;
                background: url('../images/first.png') no-repeat 0 0;
            }
            .play {
                display: inline-block;
                float: right;

                .s-icon {
                    display: inline-block;
                    vertical-align: -2px;
                    visibility: hidden;
                    padding: 0 5px;
                    background: url('../images/list/icon_splice.png') no-repeat;
                }
                .playBtn {
                    width: 12px;
                    height: 14px;
                    background-position: 0 0;

                    &:hover {
                        background-position: 0 -30px;
                    }
                }
                .downloadBtn {
                    width: 15px;
                    height: 15px;
                    background-position: -90px 0;

                    &:hover {
                        background-position: -90px -30px;
                    }
                }
            }
            &:hover {
                background-color: #f5f8fb;
                .songName,.songTime {
                    color: #009af3;
                }
                .songTips {
                    visibility: hidden;
                }
                .s-icon {
                    visibility: visible;
                }
            }
        }
    }
}
.second-left {
    overflow: hidden;
    position: relative;
    height: 375px;

    .songList {
        overflow: hidden !important;
        height: 280px;

        .u-active {
            display: block;
        }
    }

    .pages {
        display: inline-block;
        position: absolute;
        bottom: 50px;
        left: 295px;
        user-select: none;
        
        .p-border {
            background-position: 0 -14px;
        }
        .n-border {
            background-position: -13px 0;
        }
        .prev {
            background-position: 0 0;
            height: 9px;

            &:hover {
                background-position: 0 -14px;
            }
        }
        .next {
            background-position: -13px -14px;
        }
        .page {
            display: inline-block;
            margin: 0 15px;
            font-size: 12px;
            color: #8d8d8d;
        }
        i {
            display: inline-block;
            margin-top: 5px;
            text-indent: -999em;
            width: 6px;
            line-height: 9px;
            background: url('../images/pageChange.jpg') no-repeat;
            cursor: pointer;
        }
    }
}



/* 新歌首发样式 end */

/* 推荐MV样式 start */
%pos {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.content-second .small {
    margin-bottom: 20px;
}
.content-second {
    .mv-content {
        width: 332px;

        .text {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 50px;
            background-color: rgba(0, 0, 0, .5);

            .songname {
                color: #fff;
            }
        }
        .same-v {
            position: relative;
            float: left;
            margin: 0 12px 15px 0;

            &:hover .mv-cover {
                display: block;
            }
            i {
                color: #fff;
                font-size: 40px;
                font-weight: 400;
            }
        }
        .mv-1 .mv-cover {
            @extend %pos;
            width: 320px;
            height: 195px;
            text-align: center;
            line-height: 175px;
            background-color: rgba(0, 0, 0, .5);
        }
        .mv .mv-cover {
            @extend %pos;
            width: 154px;
            height: 84px;
            text-align: center;
            line-height: 84px;
            background-color: rgba(0, 0, 0, .5);
        }
    }
    .mv-message {
        .songname {
            padding: 6px 0 0 8px;
            color: #444;
            font-size: 13px;
        }
        .songwriter {
            padding: 2px 0 0 8px;
            color: #cfcfbb;
            font-size: 13px;
        }
    }
}
/* 推荐MV样式 end */

/* --------------------------------------------------------------------- */

/* 热门电台样式 start */
.content-three {
    width: 1000px;
    height: 355px;
    margin-bottom: 40px;
}
.station-content {
    width: 650px;
    height: 310px;
    margin-top: 30px;

    img {
        border-radius: 50%;
    }
    li {
        position: relative;
        float: left;
        padding-right: 37px;

        &:nth-child(5) {
            padding-right: 0;
        }
        &:last-child {
            padding-right: 0;
        }
        .radio_message {
            padding-top: 5px;
            color: #333;
            font-size: 13px;
            text-align: center;
        }
        .station-cover {
            @extend %pos;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            text-align: center;
            line-height: 100px;
            background-color: rgba(0, 0, 0, .3);
        }
        .station-cover i {
            font-size: 36px;
            color: rgba(0, 0, 0, .8);
        }
        &:hover {
            .station-cover {
                display: block;
            }
            .radio_message {
                color: $n-color;
            }
        }
    }
    .bottom-radiolag {
        margin-top: 30px;
    }
}
/* 热门电台样式 end */

/* 热门歌手样式 start */
.content-three .rightbar {
    float: right;
}
.rightbar {
    .country {
        display: inline-block;
        margin-left: 20px;
        line-height: 30px;

        span {
            margin-right: 20px;
            font-size: 14px;
            cursor: pointer;
        }
        .show {
            color: #009af3;
        }
    }
    .same-m {
        bottom: -3px;
    }
}
.singer-img {
    margin-top: 30px;

    .singer-list {
        display: none;
        width: 330px;
        height: 270px;

        &:first-child {
            display: block;
        }
        li {
            position: relative;
            float: left;
            padding-right: 7px;

            &:nth-child(2) {
                padding-right: 0;
                margin-left: 3px;
            }
            &:last-child {
                margin-left: 1px;
                padding-right: 0;
            }
            .singer-name {
                overflow: hidden;
                position: absolute;
                bottom: 0;
                left: 0;
                padding-left: 5px;
                width: 89px;
                height: 25px;
                color: #fff;
                font-size: 14px;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            &:hover .singer-cover {
                display: block;
            }
        }
        .top-img {
            width: 160px;
            height: 160px;

            .singer-cover {
                position: absolute;
                top: 0;
                left: 0;
                display: none;
                width: 160px;
                height: 160px;
                background-color: rgba(0, 0, 0, .3);
            }
        }
        .bottom-img {
            width: 105px;
            height: 105px;
            margin-top: 10px;

            .singer-cover {
                @extend %pos;
                width: 105px;
                height: 105px;
                background-color: rgba(0, 0, 0, .3);
            }
        }
    }
}
.rightbar .dots {
    margin: 0 auto;
    width: 150px;
    height: 10px;
    text-align: center;

    span {
        display: inline-block;
        margin-right: 10px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #ccc;
        cursor: pointer;
    }
    .active {
        background-color: $n-color;
    }
}
/* 热门歌手样式 end */

/* --------------------------------------------------------------------- */

/* 合作伙伴样式 start */
.partner {
    margin-bottom: 40px;

    .partner-logo {
        overflow: hidden;
        margin-top: 30px;
        width: 1010px;
        height: 216px;

        a {
            float: left;
            margin: 0 12px 12px 0;
            width: 130px;
            height: 58px;
            border: 1px dashed #ccc;
        }
    }
}
/* 合作伙伴样式 end */

/* 友情链接样式 start */
.link-list {
    margin-top: 30px;
    width: 1000px;

    a {
        display: block;
        float: left;
        margin-bottom: 20px;
        width: 125px;
        height: 24px;
        color: #555;
        font-size: 14px;
        line-height: 24px;

        &:hover {
            color: $n-color;
        }
    }
}
/* 友情链接样式 end */

/* 网页主要内容样式 start */

/* --------------------------------------------------------------------- */

/* 网页底部信息栏样式 start */
.footer {
    margin-top: 20px;
    width: 100%;
    height: 289px;
    color: #b1b3b9;
    background-color: #2c323b;

    .f-links {
        height: 49px;
        text-align: center;
        border-bottom: 1px solid #3d424a;

        a {
            padding: 10px;
            color: #b1b3b9;
            font-size: 12px;
            line-height: 49px;

            &:hover {
                color: $color;
            }
        }
    }
    .copyright {
        margin: 20px auto 0;
        width: 1000px;
        color: #999;
        font-size: 14px;

        p {
            width: 1000px;
            height: 30px;
            text-align: center;
            line-height: 30px;

            a {
                color: #999;
            }
            .icon-Shape {
                color: $n-color;
            }
        }
    }
}
/* 网页底部信息栏样式 end */
.to-top {
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: none;
    width: 50px;
    height: 50px;
    background: url("../images/scrollTop1.png") no-repeat;
}
